h1{
    color: black;
    font-weight: normal;
    font-size: 50px;
    position: relative;
    margin: 40px 0;
    font-family: sans-serif;
    font: display 4px;
}
h2{
    color: red;
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin: 30px 0;
    font-family: sans-serif;
    font: display 4px  
}
p{
    color: black;
    text-align:left;
    font-size: 20px;
    font-family: sans-serif;
}
h3{
    color:black;
    font-weight:noemal;
    font-size:35px;
    margin:25px 0;
    position: relative;
    font-family: sans-serif;
    font-display: 4px;
}
h4{
    color:black;
    font-weight: normal;
    font-size: 30px;
    position: relative;
    margin:20px 0;
    font-family: sans-serif;
    font-display: 4px;
}
h5{
    color: black;
    font-size: 25px;
    font-weight: normal;
    position: relative;
    margin:25px 0;
    font-family: sans-serif;
    font-display: 4px;
}
h6{
    background-color: #333;
    font: 1em sans-serif;
    font-size: 15px;
    margin: 15px 0;
    color: #ddd;
    width: 250px
}
b{
    font-size: 20;
}
li{
    font-size: 20px;
}
body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-bar{
    background:#1d4052;
    color: #fff;
    padding: 5px;
    font-family: sans-serif;
}
.nav-bar img{
height: 45px;
float: left;
margin-right: 30px;
}
.menu-right{
    text-align: right;
}
ul li {
    display: inline-block;
    margin: 20px;
    list-style: none;
}
ul li a{
    color: #ddd;
    text-decoration: none;
}
span{
    margin: 0 20px;
    font-size: 28px;
    cursor: pointer;
    display: none;
}
@media only screen and (max-width:700px){
    span{
     display: block;
    }
    ul li {
        display: block;
    }
    ul{
        display: none;
    }
}
a{
    color:darkblue;
    text-decoration: solid;
}

a:hover{
    color:black;
    text-decoration: none;
}
a:active{
    color:rgb(226, 4, 4);
    text-decoration: none;
    background-color: hotpink;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%;
    background-color: black;
    color: wheat;
    text-align: center;
    padding:3px;
}
